body {
  background-color: #3a25be;
  background-image: url("../images/background.jpg");
  background-position: center;
  line-height: 1.6;
  font-size: 100%;
  margin: 0 0 0 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.trans {
  opacity: .8;
  background: -moz-linear-gradient(top,  rgba(58,37,190,1) 0%, rgba(58,37,190,0.8) 52%, rgba(58,37,190,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,37,190,1)), color-stop(52%,rgba(58,37,190,0.8)), color-stop(100%,rgba(58,37,190,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(58,37,190,1) 0%,rgba(58,37,190,0.8) 52%,rgba(58,37,190,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(58,37,190,1) 0%,rgba(58,37,190,0.8) 52%,rgba(58,37,190,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(58,37,190,1) 0%,rgba(58,37,190,0.8) 52%,rgba(58,37,190,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(58,37,190,1) 0%,rgba(58,37,190,0.8) 52%,rgba(58,37,190,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a25be', endColorstr='#003a25be',GradientType=0 ); /* IE6-9 */
}

.note {
  width: 40px;
  height: 40px;
  margin: 1px;
  padding: 0;
  background-color: transparent;
}

.marker {
  width: 20px;
  height: 40px;  
  margin-left: .6em;
  padding: 0;
}

.markerimg {
  width: 100%;
  height: 70%;
}

.selected {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #b46b33;
}

.lightOn {
  background-color: #b46b33;
}

.lightOff {
  background-color: transparent;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

.hidden {
  display: none;
}

/*div {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}*/

#play {
  width: 100px;
  text-align: center;
}

.channel {
  width: 35px;
}

.instr {
  width: 150px;
}

.instrument {
  font-size: 50%;
}

#login {
  margin: 10%;
  text-align: center;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#title {
  margin-top: 2em;
  height: 20em;
}
