<div id="sequence">
  <button id="play">Play</button><br>
  Instruments:
  <button class="instrument selected" id="i0">Acoustic Grand Piano</button>
  <button class="instrument" id="i24">Acoustic Nylon Guitar</button>
  <button class="instrument" id="i25">Acoustic Steel Guitar</button>
  <button class="instrument" id="i30">Distortion Guitar</button>
  <button class="instrument" id="i26">Electric Jazz Guitar</button>
  <button class="instrument" id="i33">Electric Bass, Fingered</button>
  <button class="instrument" id="i34">Electric Bass, Picked</button>
  <button class="instrument" id="i64">Soprano Sax</button>
  <button class="instrument" id="i65">Alto Sax</button>
  <button class="instrument" id="i66">Tenor Sax</button>
  <button class="instrument" id="i67">Baritone Sax</button>
  <button class="instrument" id="i56">Trumpet</button>
  <button class="instrument" id="i61">Brass Section</button>
  <button class="instrument" id="i73">Flute</button>
  <button class="instrument" id="i118">Synth Drum</button>
  <br>
  Channels:
  <button class="channel selected" id="ch0">0</button>
  <button class="channel" id="ch1">1</button><br>  
</div>